.text {
  color: black !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.homeContainer {
  /* The image used */
  background-attachment: scroll;
  /* Full height */
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
}


.placeholder{
  font-family: "Roboto", sans-serif;
}

.widgetDisplay{
  font-family: 'Bungee Inline', cursive;
}
.weatherDisplay{
  font-family: 'Bungee Inline', cursive;

}

.widgetGrid{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.widgetName{
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center 
}

.widgetGrid{
  padding-left: 50px;
  margin-left: 50px;
}

.HeaderTitle{
  margin-top: 0;
}

body,
html {
  position: fixed;
  background-image: url("../src/assets/mountain.jpg");
  font-family: sans-serif;
  overflow-x: scroll;
  margin-bottom: 100px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body{
  padding-bottom: 100px !important;
}

.footer{
  background-color: "rgba(31, 30, 30, 100)" !important;
}

.HeaderTitle{
  font-family: 'Bungee Inline', cursive;
}


.MenuStyles{
  font-family: 'Bungee Inline', cursive;
  
}

p{
  font-family: 'Roboto', sans-serif;
}

.login{
  font-family: 'Bungee Inline', cursive;
  color:white;
  opacity:.90;
}

.widgets{
  font-family: 'Bungee Inline', cursive;
  color:rgba(31, 30, 30, 0.961);
  opacity:.90;
}


.loginForm {
  opacity: .90;
  position: relative;
  transform: translateY(20%);
  padding-left:0px;
}

.signUpForm {
  opacity: .90;
  position: relative;
  transform: translateY(8%);
  padding-left:0px;
}

.widgetForm {
  opacity: .90;
  position: relative;
  transform: translateY(15%);
  padding-left:0px;
}

.widgetTitle{

  position: relative;
  transform: translateY(50%);
  padding-left:0px;
}
@media (min-width: 767px) {
.profileContainer{
  transform: translateX(35%);
}

@media (min-width: 990px) {
  .profileContainer{
    transform: translateX(38%);
  }
}

@media (min-width: 1200px) {
  .profileContainer{
    transform: translateX(40%);
  }
}

a{
  color:white;
  font-family: 'Roboto', sans-serif;
}
}
a:hover{
  color:lightgray;

}
.ui.menu{
  background: #E5E5E5;
  margin-top: 80px;
  }


